$card-desc-color: #b7b7b7;
$white-color: #ffffff;
$accent-color: #f87719;
$btn-bg-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
$main-text-color: #f8f8f8;
$body-bg-color: #282828;
$btn-color: #111111;
$mobile-bg-color: #171717;
$grey-color: #595959;
$cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
