.info-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #B7B7B7;
  margin-bottom: 12px; 
}

.movie-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.text-upcoming {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.color-releas {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F87719;
}

.header-about {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #B7B7B7;
  margin-bottom: 16px;
  margin-bottom: 20px;
}

.info-film{
  column-count: 2;
}
// .upcoming {
//     border: 5px solid #f44336;
// }

.img-upcoming {
  margin-bottom: 24px;
}




body {
  background-color: black;
}


.movie-overview {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F8F8F8;
  margin-bottom: 24px;
}

// .upcoming {
//   padding-left: 22px;
// }



// .vote-style {

// }

.value-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.vote-votes {
  padding-top: 50px;
  font-size: 15px;
  font-weight: lighter;
  border:white,
}

.vote-style {
font-weight: 500;
font-size: 14px;
line-height: 1.4;
color: #111111;

}